// Body
$body-bg: #F4F4F4;

// $body-bg: #222;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$component-active-bg:#9B876A;

$position-values: (
  0: 0,
  5: 5%,
  8: 8%,
  10: 10%,
  15: 15%,
  25: 25%,
  50: 50%,
  100: 100%
);

.btn{
  color:#000;
  border:none;
}
.btn:focus{
color:#888;
}