@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

/*body {
    background-color: #F4F4F4 !important
}
*/


/*.card {
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 40px
}*/

/*img {
    border-radius: 10px;
}*/

/*img:hover {
    cursor: pointer
}*/
/*.video-player {
  width: 10rem;
  height: 10rem;
  position: relative;
}*/
/*video {
  max-width: 10rem;
  max-width: 10rem;
  background:black;
}*/



.comment {
    background: #f4f4f4;
    border-radius: 0.5em;
    position: relative;
    border: none;
    margin: 0.5em;
    padding: 0.3em;
}
.comment-text{
    background: #eae9e9;
    border-radius: 0.5em;
    position: relative;
    border: none;
    margin: 0.5em;
    padding: 0.3em;

}

.replies .comment {
    background: #eae9e9;
    margin: 0.5em;
    padding: 0.3em;
}
.replies{
    background: #eae9e9;
    margin: 0.5em;
    border-radius: 0.5em;
}
.comment-heading {
    display: flex;
    color: #888;
    align-items: center;
    font-size: small;
}


.comment-user {
    color: #5C5C5C;
    text-decoration: none;
    font-size: medium;
}

.comment-user:hover {
    cursor: pointer;
    color: #000;
    text-decoration: underline
}

.comment-user-img{
    border-radius: 50%;
    width: 3em;
    margin: 0em 1em 1em 1em;
/*    padding: 1em;*/

}

.comment-body {
/*    padding: 1em;*/
    padding-left: 2em;
}

p.text {
    margin-bottom: 0;
    color: #666 !important;
    font-size: medium;
}


.comment-border-link {
    display: block;
    position: absolute;
    top: 4.5em;
    left: 0.5em;
    width: 0.7em;
    height: calc(100% - 80px);
    border-left: 0.5em solid transparent;
    border-right: 0em solid transparent;
    background-color: #CCC;
    background-clip: padding-box;
}



.comment-load, .comment-hide{
    color: #555;
    text-align: right;
    padding-right:1em;
}
.comment-load:hover, .comment-hide:hover {
    cursor: pointer;
    color: #988;
    text-decoration: underline;
}